[user]
    name = Eduardo Cuducos
    email = 4732915+cuducos@users.noreply.github.com

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[push]
    default = current

[core]
    editor = nvim
    filemode = false
    excludesfile = ~/.gitignore_global

[merge]
    tool = vimdiff

[cola]
    spellcheck = true
[pull]
    rebase = false

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    light = true

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[include]
    path = /Users/cuducos/.config/dev/gitconfig

[help]
    autocorrect = 42

[alias]
    co = commit
    ch = checkout
    st = status
    lo = log --oneline
    ad = add -p
    br = branch
    sw = switch
